{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}

<div class="w-full h-screen overflow-x-hidden border-t flex flex-col">
  <main class="w-full flex-grow p-6">
      <h1 class="w-full text-3xl text-black">Welcome home {{ app.user }} 😎👋</h1>

  </main>
</div>    

{% endblock %}