{% extends 'base.html.twig' %}

{% block title %}Session's list{% endblock %}

{% block body %}

<h1>Session's list</h1>

{% for session in sessions %}
    <a href="{{ path('show_session', {'id': session.id}) }}">{{ session }}</a>
{% endfor %}

{% endblock %}