{% extends 'base.html.twig' %}

{% block title %}List of modules{% endblock %}

{% block body %}

<h1>List of modules</h1>

<h2>Add a module</h2>
<a href="{{ path('new_module') }}" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm sm:w-auto px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800 inline-block">Add a module</a>

{% for module in modules %}
    <a href="{{ path('show_module', {'id': module.id}) }}">{{ module }}</a>
{% endfor %}


{% endblock %}
